# Chapter.14 Pandas

In [ ]:
# Series / Datapframe

# Series -> 1차원 배열 + 인덱스

# Dataframe -> 2차원 엑셀 

# Sample data set -> iris / titanic / tips /.csv

In [ ]:
import pandas as pd

## Series

In [114]:
# ex 14-1

import pandas as pd

obj = pd.Series([5,-4,7,0,12])

obj

0     5
1    -4
2     7
3     0
4    12
dtype: int64

In [13]:
obj.values

array([ 5, -4,  7,  0, 12], dtype=int64)

In [14]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
# ex 14-2



obj = pd.Series([8,20,-3,13,2])

print(obj.values)
print(obj.index)

print(obj[2])

[ 8 20 -3 13  2]
RangeIndex(start=0, stop=5, step=1)
-3

In [15]:
# ex 14-3 

obj = pd.Series([10,20,30,40,50], index = ['a','b','c','d','e'])

print(obj)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [16]:
obj.values

array([10, 20, 30, 40, 50], dtype=int64)

In [17]:
obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [18]:
obj['a']

10

In [21]:
obj[['a','d']]

a    10
d    40
dtype: int64

In [22]:
obj['a':'d']

a    10
b    20
c    30
d    40
dtype: int64

In [24]:
# ex 14-4

obj = pd.Series([10,20,30,40,50])

obj

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [25]:
obj*10

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [26]:
obj[obj>25]

2    30
3    40
4    50
dtype: int64

In [33]:
# ex 14-5

pop = pd.Series([9765623,3441453,2461769],index=['서울','부산','대구'])

for i,v in pop.items():
    print('%s:%d명'% (i,v))

서울:9765623명
부산:3441453명
대구:2461769명

In [34]:
for item in pop:
    print(item)

9765623
3441453
2461769

In [51]:
# ex 14-6

pop = pd.Series({'서울':9765623,'부산':3441453,'대구':2461769}, index = ['서울','부산','대구','광주','대전'])
pop

#NaN(이상치, 결측치) - float으로 변경 / isna() 있는지 없는지 / fillna() 값을 채워라

서울    9765623.0
부산    3441453.0
대구    2461769.0
광주          NaN
대전          NaN
dtype: float64

In [52]:
pop.isna()

서울    False
부산    False
대구    False
광주     True
대전     True
dtype: bool

In [54]:
pop = pop.fillna(0)

In [55]:
pop['광주']

0.0

In [56]:
pop['광주'] = 149336

In [57]:
print('광주 시 인구 : %.0f'% pop['광주'])

광주 시 인구 : 149336