# Chapter.06 튜플과 딕셔너리

In [1]:
# 예제 1

menu = ('coffee','milk','tea','cider')

print(menu)
print(menu[0])
print(menu[1])
print(menu[2])
print(menu[0:3])

menu[1] = 'mlik'

In [2]:
# 예제 2

tuple1 = ('apple','banana','cherry')
tuple2 = ('orange','melon','strawberry')
tuple3 = tuple1 + tuple2

print(tuple3)
print(len(tuple3))

for x in tuple1 :
    print(x)
    
del tuple1

In [3]:
#tuple 만들기

#odds = (1,3,5,7,9)

odds = tuple(range(1,10,2))
print(odds)

In [4]:
#표현식 (1,4,9,16,25)

squares = tuple(i*i for i in range (1,6))
print(squares)

In [5]:
#표현식 (1,9,25,49,81)

odd_squares = tuple(i*i for i in range(1,10) if i % 2 ==1)

print(odd_squares)

(1, 9, 25, 49, 81)

## Sequence 객체

In [6]:
#특정 값이 있는지 확인하기

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)
print(100 not in a)

True
False
True

In [7]:
print(30 not in a)

False

In [8]:
43 in (38, 76, 43, 62, 19)

True

In [9]:
1 in range(10)

True

In [10]:
'P' in 'Hello Python'

True

In [12]:
# 시퀀스 객체 연결하기
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
print ( a + b )

[0, 10, 20, 30, 9, 8, 7, 6]

In [15]:
print((1,2,3,) + (10,20,30))
print('hello'+' '+'World!')

(1, 2, 3, 10, 20, 30)
hello World!

In [17]:
tuple(range(1,10)) + tuple(range(10,20))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [18]:
# 문자열과 숫자 연결

'Python' + 3

TypeError: can only concatenate str (not "int") to str

In [19]:
'Python' + str(3)

'Python3'

In [21]:
# 시퀀스 객체 반복하기

print([1,2,3]*3)
print(3*[1,2,3,])

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
print((1,2,3)*3)
print('Python'*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
PythonPythonPython

In [25]:
range(1, 5) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [28]:
list(range(1,5))*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [31]:
a = (11,22,33,44,55,66,77,88,99)
print (a[0:9:4])

a[0::4]

(11, 55, 99)

(11, 55, 99)

# Dictionary

In [32]:
# 예제 3

members = {'name':'안지영','age':'30','email':'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이 : %d'% len(members))

{'name': '안지영', 'age': '30', 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [36]:
# 예제 4

name = '안진영'

scores = {'kor':95,'eng':85,'math':90,'science':80}
print(score)

scores['kor'] = 70
print(scores['kor'])

score['musig']=100
print(score)

del scores['science']
print(scores)

print('이름 : %s'% name)
print('국어 : %d'% scores['kor'])
print('영어 : %d'% scores['eng'])
print('수학 : %d'% scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 95, 'eng': 85, 'math': 90, 'science': 80, 'musig': 100}
{'kor': 70, 'eng': 85, 'math': 90}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [42]:
# 예제 5

phones = {'갤럭시 노트8':2017,'갤럭시 S9':2018,'갤럭시 노트10':2019,'갤럭시 S20':2020}

print(phones)

for key in phones :
    print('%s => %s' % (key, phones[key]))
          
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
갤럭시 노트8 => 2017
갤럭시 S9 => 2018
갤럭시 노트10 => 2019
갤럭시 S20 => 2020
4

In [45]:
lux = {'health': 490, 'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [46]:
lux

{'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [48]:
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [49]:
# key 값이 딕셔너리 안에 있는지

'health' in lux

True

In [50]:
##집합(set)

fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits
{'pineapple', 'orange', 'grape', 'strawberry', 'cherry'}

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [51]:
fruits = {'orange','orange','cherry'}
fruits

{'cherry', 'orange'}