In [15]:
# Q2-1.py
width  = 10
height = 3

area = width * height / 2

print('삼각형의 밑변 길이 :', width)
print('삼각형의 높이 :', height)
print('삼각형의 면적 :', area)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 : 15.0

In [1]:
# Q2-2.py
price = 800
buy = 3
pay = 5000

change = pay - price * buy

print('물건가격 :', price, '원')
print('구매개수 :', buy, '개')
print('지불금액 :', pay, '원')
print('거스름돈 :', change, '원')

물건가격 : 800 원
구매개수 : 3 개
지불금액 : 5000 원
거스름돈 : 2600 원

In [27]:
# Q2-3.py
x = 20
y = 4

x = y % x
print(x)

y -= x * 3
print(x, y)

4
4 -8

In [33]:
# Q2-4.py
name = "홍길동"
age = 30
height = 171.5

print('성 :', name[0])
print('이름 :', name[1:])
print("%s의 나이 : %d세, 키 : %.2fcm" % (name, age, height))

성 : 홍
이름 : 길동
홍길동의 나이 : 30세, 키 : 171.50cm

In [36]:
# Q2-5.py
name = input('학생 이름을 입력하세요 :')
kor = int(input('국어 성적을 입력하세요 :'))
eng = int(input('영어 성적을 입력하세요 :'))
math = int(input('수학 성적을 입력하세요 :'))

total = kor + eng + math
avg = total / 3

print('이름:%s, 국어:%d, 영어:%d,수학:%d, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요 :황예린
국어 성적을 입력하세요 :83
영어 성적을 입력하세요 :85
수학 성적을 입력하세요 :91
이름:황예린, 국어:83, 영어:85,수학:91, 평균:86.3점