# SQLite3 훈련

In [32]:
import sqlite3
# file = open / read, write / close

In [33]:
conn = sqlite3.connect('./testDB.db')

In [36]:
cur = conn.cursor()
cur.execute('SELECT * FROM eagles')
rows = cur.fetchall()
rows

[(1, 22, '이태양', '투수'),
 (2, 17, '김범수', '투수'),
 (3, 13, '최재훈', '포수'),
 (4, 43, '정은원', '내야수'),
 (5, 19, '이용규', '외야수'),
 (6, 30, '호잉', '외야수'),
 (7, 50, '이성열', '내야수'),
 (8, 52, '김태균', '내야수'),
 (9, 53, '김민우', '투수'),
 (10, 61, '박상원', '투수')]

In [37]:
cur.execute("SELECT * FROM eagles WHERE position = '투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(2, 17, '김범수', '투수')
(9, 53, '김민우', '투수')
(10, 61, '박상원', '투수')

## 데이터 추가

In [48]:
cur.execute("INSERT INTO eagles(back_no,name,position) VALUES(1,'하주석','내야수')")

In [56]:
cur.execute("SELECT * FROM eagles WHERE position = '내야수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(4, 43, '정은원', '내야수')
(7, 50, '이성열', '내야수')
(8, 52, '김태균', '내야수')
(11, 1, '하주석', '내야수')

In [58]:
cur.execute("UPDATE eagles SET back_no = '41' WHERE id = 11")

In [59]:
# DB에 반영

conn.commit()

In [60]:
# 파라메터 : 튜플을 사용해서 전달

back_no = 25
name = '최진행'
position = '외야수'
sql = 'INSERT INTO eagles(back_no,name,position) VALUES(?,?,?)'
cur.execute(sql,(back_no,name,position)) # 변수를 튜플로 만들어서 각 항목에 저장
conn.commit()

In [61]:
# 튜플 리스트 사용

players = [(38,'안영명','투수'),(54,'서균','투수')]

for player in players :
    cur.execute(sql,player)
conn.commit()

In [62]:
# executemany()  사용

players = [(48,'벨','투수'),(53,'김민우','투수')]
cur.executemany(sql, players)
conn.commit()

## 데이터 조회

In [64]:
# 순회 조회

sql = "select * from eagles where position = '외야수'"
cur.execute(sql)

for result in cur :
    print(result)

(5, 19, '이용규', '외야수')
(6, 30, '호잉', '외야수')
(14, 25, '최진행', '외야수')

In [65]:
# 한 건 조회 ***********************************

cur.execute(sql)
result = cur.fetchone()
print(result)

(5, 19, '이용규', '외야수')

In [66]:
result = cur.fetchone()
print(result)

(6, 30, '호잉', '외야수')

In [67]:
# 갯수 지정 조회 ***********************************

sql = "select * from eagles where position = '투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(1, 22, '이태양', '투수'), (2, 17, '김범수', '투수'), (9, 53, '김민우', '투수')]

In [68]:
# 전부 조회 ***********************************

results = cur.fetchall()
results

[(10, 61, '박상원', '투수'),
 (15, 38, '안영명', '투수'),
 (16, 54, '서균', '투수'),
 (17, 48, '벨', '투수'),
 (18, 53, '김민우', '투수')]

In [69]:
sql = "select * from eagles where position = '내야수'"
cur.execute(sql)
results = cur.fetchall()
results

[(4, 43, '정은원', '내야수'),
 (7, 50, '이성열', '내야수'),
 (8, 52, '김태균', '내야수'),
 (11, 41, '하주석', '내야수')]

In [70]:
# 필요한 컬럼만 조회

sql = "select * from eagles where back_no > 20"
cur.execute(sql)
results = cur.fetchall()
results

[(1, 22, '이태양', '투수'),
 (4, 43, '정은원', '내야수'),
 (6, 30, '호잉', '외야수'),
 (7, 50, '이성열', '내야수'),
 (8, 52, '김태균', '내야수'),
 (9, 53, '김민우', '투수'),
 (10, 61, '박상원', '투수'),
 (11, 41, '하주석', '내야수'),
 (14, 25, '최진행', '외야수'),
 (15, 38, '안영명', '투수'),
 (16, 54, '서균', '투수'),
 (17, 48, '벨', '투수'),
 (18, 53, '김민우', '투수')]

In [82]:
# 백넘버가 30~39까지인 선수

sql = "select * from eagles where back_no between 30 and 39"
cur.execute(sql)
results = cur.fetchall()
results

[(6, 30, '호잉', '외야수'), (15, 38, '안영명', '투수')]

In [83]:
# 백넘버가 가장 큰 선수?

sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
results = cur.fetchall()
results

[(10, 61, '박상원', '투수')]

In [84]:
# 포지션별 사람 수

sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
results = cur.fetchall()
results

[('내야수', 4), ('외야수', 3), ('투수', 8), ('포수', 1)]

# 데이터 검색

In [88]:
# back_no가 54번인 선수는?

back_no = 54

sql = "select * from eagles where back_no = ? "

cur.execute(sql,(back_no,))
result = cur.fetchone()
result

(16, 54, '서균', '투수')

## 데이터 변경

In [89]:
# id 가 11인 하주석 선수의 포지션을 '외야수'로 변경

id = 11
position = '외야수'

sql = 'UPDATE eagles SET position = ? WHERE id = ?'

cur.execute(sql,(position,id))
conn.commit()

## 데이터 삭제

In [90]:
sql = 'DELETE FROM eagles WHERE id = ?'

cur.execute(sql,(id, ))

conn.commit()