In [6]:
import sqlite3
import csv
import pandas as pd

In [7]:
conn = sqlite3.connect('./idol_singer.db')

In [8]:
cur = conn.cursor()
cur.execute('SELECT * FROM idol_sing')
rows = cur.fetchall()
rows

[(1, '방탄소년단', 7, '2013-06-13', '빅히트 엔터'),
 (2, '마마무', 4, '2014-06-19', 'RBW'),
 (3, '우주소녀', 13, '2016-02-25', '스타쉽 엔터'),
 (4, '블락비', 7, '2011-04-15', 'KQ 엔터'),
 (5, '엑소', 9, '2012-04-08', 'SM 엔터'),
 (6, '트와이스', 9, '2015-10-20', 'JYP 엔터')]

In [19]:
df = pd.read_csv('singers.csv')

df

    name  member_no       debut company
0  방탄소년단          7  2013-06-13  빅히트 엔터
1    마마무          4  2014-06-19     RBW
2   우주소녀         13  2016-02-25  스타쉽 엔터
3    블락비          7  2011-04-15   KQ 엔터
4     엑소          9  2012-04-08   SM 엔터
5   트와이스          9  2015-10-20  JYP 엔터

In [32]:
idol_singer = [tuple(x) for x in df.values]
idol_singer

[('방탄소년단', 7, '2013-06-13', '빅히트 엔터'),
 ('마마무', 4, '2014-06-19', 'RBW'),
 ('우주소녀', 13, '2016-02-25', '스타쉽 엔터'),
 ('블락비', 7, '2011-04-15', 'KQ 엔터'),
 ('엑소', 9, '2012-04-08', 'SM 엔터'),
 ('트와이스', 9, '2015-10-20', 'JYP 엔터')]

In [33]:
sql = "INSERT INTO idol_sing(name,member_no,debut,company) VALUES(?,?,?,?)"
cur.execute(sql,(name,member_no,debut,company))

In [34]:
name = idol_singer[0][0]
member_no = idol_singer[1][1]
debut = idol_singer[2][2]
company = idol_singer[3][3]

In [35]:
for singer in idol_singer :
    cur.execute(sql,singer)
    
conn.commit()

In [29]:
sql = 'DELETE FROM idol_sing WHERE id = 7'

conn.commit()

In [36]:
cur = conn.cursor()
cur.execute('SELECT * FROM idol_song')
rows = cur.fetchall()
rows

[]

In [37]:
df = pd.read_csv('songs.csv')

df

,song,gid,year,composer,lyrics
0,작은 것들을 위한 시,1,2019,Pdogg 외,모든 게 궁금해 How’s your day
1,FAKE LOVE,1,2018,Pdogg 외,널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어
2,넌 is 뭔들,2,2016,김도훈 외,Hey 거기 미소가 예쁜 남자 바로 너
3,음오아예 (Um Oh Ah Yeh),2,2015,김도훈,oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아
4,HER,4,2014,지코 외,Jesus 무슨 말이 필요해 모두 널 작품이라고 불러
5,으르렁,5,2013,신혁 외,나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대
6,MAMA,5,2012,유영진,Careless careless Shoot anonymous anonymous
7,CHEER UP,6,2016,블랙아이드필승 외,CHEER UP BABY CHEER UP BABY 좀 더 힘을 내
8,TT,6,2016,블랙아이드필승 외,이런 내 맘 모르고 너무해 너무해
9,빨간 맛,11,2017,Ludwig Lindell 외,빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛

In [47]:
idol_song = [tuple(x) for x in df.values]
idol_song

[('작은 것들을 위한 시', 1, 2019, 'Pdogg 외', '모든 게 궁금해 How’s your day'),
 ('FAKE LOVE', 1, 2018, 'Pdogg 외', '널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어'),
 ('넌 is 뭔들', 2, 2016, '김도훈 외', 'Hey 거기 미소가 예쁜 남자 바로 너'),
 ('음오아예 (Um Oh Ah Yeh)', 2, 2015, '김도훈', 'oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아'),
 ('HER', 4, 2014, '지코 외', 'Jesus 무슨 말이 필요해 모두 널 작품이라고 불러'),
 ('으르렁', 5, 2013, '신혁 외', '나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대'),
 ('MAMA', 5, 2012, '유영진', 'Careless careless Shoot anonymous anonymous'),
 ('CHEER UP', 6, 2016, '블랙아이드필승 외', 'CHEER UP BABY CHEER UP BABY 좀 더 힘을 내'),
 ('TT', 6, 2016, '블랙아이드필승 외', '이런 내 맘 모르고 너무해 너무해'),
 ('빨간 맛', 11, 2017, 'Ludwig Lindell 외', '빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛')]

In [52]:
sql = "INSERT INTO idol_song(song,gid,year,composer,lyrics) VALUES(?,?,?,?,?)"
cur.executemany(sql,idol_song)
conn.commit()

In [44]:
for song in idol_song :
    cur.execute(sql,song)
    
conn.commit()

In [53]:
sql = "SELECT idol_sing.name, idol_sing.member_no, idol_sing.debut, idol_song.song, idol_song.year FROM idol_sing INNER JOIN idol_song ON idol_sing.id=idol_song.gid"

In [54]:
cur.execute(sql)
results = cur.fetchall()
results

[('방탄소년단', 7, '2013-06-13', '작은 것들을 위한 시', 2019),
 ('방탄소년단', 7, '2013-06-13', 'FAKE LOVE', 2018),
 ('마마무', 4, '2014-06-19', '넌 is 뭔들', 2016),
 ('마마무', 4, '2014-06-19', '음오아예 (Um Oh Ah Yeh)', 2015),
 ('블락비', 7, '2011-04-15', 'HER', 2014),
 ('엑소', 9, '2012-04-08', '으르렁', 2013),
 ('엑소', 9, '2012-04-08', 'MAMA', 2012),
 ('트와이스', 9, '2015-10-20', 'CHEER UP', 2016),
 ('트와이스', 9, '2015-10-20', 'TT', 2016)]

In [55]:
df2 = pd.DataFrame(results)
df2

       0  1           2                    3     4
0  방탄소년단  7  2013-06-13          작은 것들을 위한 시  2019
1  방탄소년단  7  2013-06-13            FAKE LOVE  2018
2    마마무  4  2014-06-19              넌 is 뭔들  2016
3    마마무  4  2014-06-19  음오아예 (Um Oh Ah Yeh)  2015
4    블락비  7  2011-04-15                  HER  2014
5     엑소  9  2012-04-08                  으르렁  2013
6     엑소  9  2012-04-08                 MAMA  2012
7   트와이스  9  2015-10-20             CHEER UP  2016
8   트와이스  9  2015-10-20                   TT  2016