### 2.1 변수

In [1]:
# 파일명 : ex2-1.py
a = 20 
b = 30
c = a + b
print(c)

50

In [8]:
# 파일명 : ex2-2.py
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

print(x, Computer, Age, my_score, _name, myBirthYear, data2)

20 Mac 30 70 홍길동 1997 20.3

In [10]:
# 파일명 : ex2-3.py
eng score = 90
7font = '굴림'
my-age = 20
percent% = 100
animal# = '사슴'

SyntaxError: invalid syntax (<ipython-input-10-ebf715fab605>, line 1)

In [10]:
# 파일명 : ex2-4.py
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [2]:
# 파일명 : ex2-5.py
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [1]:
# 파일명 : ex2-6.py
a = 'x'
b = 'I am ok.'
c = "안녕하세요."

print(a)
print(b)
print(c)
print(type(c))

x
I am ok.
안녕하세요.
<class 'str'>

In [11]:
# 파일명 : ex2-7.py
a = 30
print(a)
print(type(a))

b = '30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [18]:
# 파일명 : ex2-8.py
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [25]:
# 파일명 : ex2-9.py
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [29]:
# 파일명 : ex2-10.py
a = 10
b = 20

c = a + b * 10 - 5 / 5
print(c)

209.0

In [28]:
# 파일명 : ex2-11.py
x = 10 % 3
print(x)
 
y = 7//3
print(y)

1
2

In [33]:
# 파일명 : ex2-12.py
x = 2**3
print(x)

y = 10**4
print(y)

8
10000

In [3]:
# 파일명 : ex2-13.py
x = 10
x += 20            # x = x + 20 과  동일
print(x)

30

In [6]:
# 파일명 : ex2-14.py
x = 3
y = 5
x *= x + y        # x = x * (x + y)와 동일
print(x)

24

In [8]:
# 파일명 : ex2-15.py
hello = '안녕' * 5

print(hello)

안녕안녕안녕안녕안녕

In [10]:
# 파일명 : ex2-16.py
a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(b)

15

In [11]:
# 파일명 : ex2-17.py
name = '홍지수'
greet = name + '님 안녕하세요!'
print(greet)

홍지수님 안녕하세요!

In [12]:
# 파일명 : ex2-18.py
eng = 80
result = '영어 점수 : ' + eng + '점'
print(result)

TypeError: can only concatenate str (not "int") to str

In [13]:
# 파일명 : ex2-19.py
eng = 80
result = '영어 점수 : ' + str(eng) + '점'
print(result)

영어 점수 : 80점

In [14]:
# 파일명 : ex2-20.py
name = '김수영'
a = '나는 %s입니다.' % name
print(a)

나는 김수영입니다.

In [17]:
# 파일명 : ex2-21.py
age = 20
a = '나이는 %d살 입니다.' % age
print(a)

나이는 20살 입니다.

In [26]:
# 파일명 : ex2-22.py
year = 2020
month = 3
day = 5

a = '%d-%02d-%02d' % (year, month, day)
print(a)

2020-03-05

In [23]:
# 파일명 : ex2-23.py
height = 172.5
a = '키는 %.2f입니다.' % height

print(a)

키는 172.50입니다.

In [27]:
# 파일명 : ex2-24.py
name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [29]:
# 파일명 : ex2-25.py
name = '홍길동'
age = 30
height = 173.7
print(name, age, height)

홍길동 30 173.7

In [32]:
# 파일명 : ex2-26.py
x = 10
y = 20

print('x = ' + str(x) + ', y = ' + str(y))

x = 10, y = 20

In [33]:
# 파일명 : ex2-27.py
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print('두 과목 점수 : %d, %d' % (score1, score2))
print('합계 : %d, 평균 : %.2f' % (sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [34]:
# 파일명 : ex2-28.py
name = '김소원'
id = 'kim'
point = 18000

print('이름 : {}'.format(name))
print('아이디: {}, 마일리지 : {}'.format(id, point))

이름 : 김소원
아이디: kim, 마일리지 : 18000

In [35]:
# 파일명 : ex2-29.py
year = 2020
month = 3
day = 5

print(year, month, day, sep='/')

2020/3/5

In [42]:
# 파일명 : ex2-30.py
a = '안녕하세요.'
b = '반갑습니다.'

print(a)
print(b)

print('\n\n')

print(a, end='')
print(b)

안녕하세요.
반갑습니다.



안녕하세요.반갑습니다.

In [43]:
# 파일명 : ex2-31.py
name = input('이름을 입력하세요 : ')

print('%s님 반갑습니다.' % name)

이름을 입력하세요 : 홍길동
홍길동님 반갑습니다.

In [136]:
# 파일명 : ex2-32.py
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

c = a + b

print(c)
print(type(a), type(b), type(c))

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
1020
<class 'str'> <class 'str'> <class 'str'>

In [135]:
# 파일명 : ex2-33.py
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

c = int(a) + int(b)

print(c)

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
30

In [137]:
# 파일명 : ex2-34.py
inch = float(input('인치(inch)를 입력하세요 : '))

cm = inch * 2.54

print('센티미터 : %.2f' % cm)

인치(inch)를 입력하세요 : 32.8
센티미터 : 83.31

In [141]:
# 파일명 : ex2-35.py
"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일 : 2021.9.20
"""

a = 10             # 변수 a에 10 저장
b = 20             # 변수 b에 20 저장

c = a + b          # 두 수를 더해 변수 c에  저장

# 결과를 출력한다.
print(c)

30